---
layout: home
title: Phytomech Industries
description: A new kind of lab for a new era in horticultural science.
org_count: 60
permalink: /
---


<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">
  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon hubot height:28 class:"fill-blue d-inline mr-2" aria-label:hubot %}
        Automated
      </h2>
      <p class="text-gray">Scene segmentation from point clouds and motion planning with MoveIt! play an important part in automating the tasks that gardening experts perform on a daily basis.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon database height:28 class:"fill-blue d-inline mr-2" aria-label:database %}
        Vertical
      </h2>
      <p class="text-gray">Tired: Grow Areas</br>Wired: Grow Volumes</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon sign-in height:28 class:"fill-blue d-inline mr-2" aria-label:sign-in %}
        Indoor/Hydroponic
      </h2>
      <p class="text-gray">Decouple weather conditions and food security. Grow whatever plants you want, anywhere on (or off) the globe, pesticide-free.</p>    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon mark-github height:28 class:"fill-blue d-inline mr-2" aria-label:mark-github %}
        Open
      </h2>
      <p class="text-gray">Phytomech relies heavily upon Open Source Software and Hardware. We are working in close association with <a href="http://osrlab.org">Open Source Robotics Lab</a> to develop open source horticultural automation.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon circle-slash height:28 class:"fill-blue d-inline mr-2" aria-label:circle-slash %}
        Not A Startup&trade;
      </h2>
      <p class="text-gray">We are not in Series A, B, C, or whatever. </br>We are not in "Stealth Mode". </br>We are a privately owned small business and are perfectly content to remain as such. We only need a small amount of seed funding, on the same scale as purchasing a home.</p>    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon rocket height:28 class:"fill-blue d-inline mr-2" aria-label:rocket %}
        Scalable
      </h2>
      <p class="text-gray">Due to the space efficiency of our vertical planting methods we are capable of the same output as a much larger horizontal growing facility. Automating the labor of planting, tending, and harvesting the plants allows our operation to scale up our labor in direct relation to our profits. More money means more robots, more robots mean more plants, more plants mean more money... and so forth.</p>
    </div>
  </div>


  <p class="text-center">
    <a href="https://github.com/phytomech" class="btn btn-outline">Learn more about phytomech &rarr;</a>
  </p>
</section>


<section class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 ">

    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="more-than-just-code">A new kind of company for a new era in technology</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Business that employ a large degree of automation grow by different rules than other enterprises. phytomech has been built from the ground up to exploit these differences in operations from a normal business to maximal effect.</p>

    <div class="my-4 my-lg-6 clearfix text-center gutter-spacious">
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Many hands make light work</h3>
        <p><a href="https://twitter.com/SynponLabs/status/1000866887641657344" target="_blank">
          <img src="assets/img/phytomech_scissorbot.png" class="img-border" alt="MoveIt!"/></a>
        </p>
        <small>Robotics lets us plan to expand our business without having to expand our payroll.</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Planting Towers</h3>
        <p><a href="https://github.com/OSRLab/vertical_grow_tower" target="_blank">
          <img src="assets/img/green_grow_towers.jpg" class="img-border" alt="Huge list of Open Datasets"/></a>
        </p>
        <small>Giving back to the open source community we owe so much.</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">The math checks out</h3>
        <p><a href="assets/img/indoor_garden_50x75.jpg" target="_blank">
          <img src="assets/img/indoor_garden_50x75.jpg" class="img-border" alt="Indoor Garden"/></a>
        </p>
        <small>We can fit an exceedingly large number of planting sites into a relatively small space.</small>
      </div>
    </div>

    <p class="text-center">
      <a href="https://gitter.im/phytomech/Lobby" class="btn btn-outline">Contact us &rarr;</a>
    </p>

  </div>
</section>

<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="join-the-revolution">Join the Revolution in Automated Horticulture</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto"> We're not like those other greenhouses. We use lots of fancy technology. The fanciest technology. GIVE US MONEY. Don't wait. <a href="mailto:thomas@phytomech.com">Contact us</a> today!</p>
  </div>
  <div style="overflow: hidden;">
    {% assign count = 0 %}
    {% for group in site.data.governments %}
      {% for org in group[1] %}
        {% assign count = count | plus:1 %}
      {% endfor %}
    {% endfor %}
    <div class="featured-orgs text-center p-2">
      {% for org in site.featured_orgs %}
      <a href="https://github.com/{{ org }}" class="animate-in">{% avatar user=org size=80 %}</a>
      {% endfor %}
    </div>
  </div>
</section>



<section id="hasta-la-vista" class="bg-white">
  <div class="container-lg">
    <p>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'phytomech/Lobby'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    </p>
  </div>
</section>
